

.header{
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-bottom: .1px solid lightgray;
    padding: 10px 0;
    width: 100%;
    z-index: 999;
}

.header_left{
    display: flex;
    
}
.header_left > img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header_search{
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}
.header_search > input{
    outline: none;
    border: none;
    background: none;
}


/* ================== Header Option ================= */

.header_option{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    color: gray;
    cursor: pointer;
}
.header_option:hover{
    color: black;
}
.header_right{
    display: flex;
    height: 40px;

}
.headerOption_title{
    font-size: 12px;
    font-weight: 400;
}
.headerOption_icon{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}




